* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 198, 248);
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
nav {
  background: black;
  /* padding: 20px; */

  overflow: hidden;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 20px;
  text-align: center;

  float: left;
}

a:hover {
  color: yellow;
}

/* a:visited {
    color: red;
} */
